<!-- <style>
    .container{
        background-color: #73C2FB;
        
    }
    /* body{
        height: 18cm;
        position: 
    } */
    /* app-footer{
        position: fixed;
        top: 18cm;
        width: 20cm;
    } */
  
</style>
<body bgcolor="#73C2FB"> -->
    <div class="container">
        <app-navbar></app-navbar><br>
        <!-- <app-homepage></app-homepage> -->
        <app-sidebar></app-sidebar><br>
        <app-homepage></app-homepage>
        <app-footer></app-footer>
    </div>
    
        <!-- <app-footer></app-footer> -->
    <!-- </body> -->
    <app-footer></app-footer> 
    