<style>
   
        
        
    .container{
        box-sizing: 8cm;
        width: 25cm;
        margin-left: 11.4cm;
        top:2cm;
        position: fixed;
    }
</style>

<body>
    <div class="container">
        <mat-card>
            <mat-action-list>
                <div mat-subheader>Analogies<br>No.Questions- 2</div>
                <button mat-list-item routerLink=""><mat-icon mat-list-icon>trending_up</mat-icon>Trending</button>
            </mat-action-list>
        </mat-card><br>
        <mat-card>
            <mat-action-list>
                <div mat-subheader>Current Affairs<br>No. of Questions- 2</div>
                <button mat-list-item routerLink=""><mat-icon mat-list-icon>trending_up</mat-icon>Trending</button>
            </mat-action-list>
        </mat-card>

    </div>
</body>