<style>
    mat-toolbar{
        background-color: hsl(0, 3%, 87%);
        background-image: url(../../../assets/p.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: auto;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        
        text-align: center;
    }
    .example-spacer {
    flex: 1 1 auto;
    }
    span.a,.io{
      color: black;
      opacity: 100%;
      text-decoration: none;
    }
    
    
    
</style>
<p>
    <mat-toolbar>
     
      
      <span class="a">© Vinayak Shukla | Tab-U | @2023 | Made with ❤️ in India </span>
      
      <span class="example-spacer"></span>
      <a mat-button href="https://www.instagram.com/vnayak2004/">
      <button mat-icon-button class="example-icon favorite-icon"  aria-label="Example icon-button with heart icon" >
        <img src="../../../assets/insta.png">
      </button>
      </a>
      <a mat-button href="mailto:vinku2004@gmail.com?subject=">
        <button mat-icon-button class="example-icon favorite-icon"  aria-label="Example icon-button with heart icon" >
          <img src="../../../assets/gmail.png">
        </button>
        </a>
      <a mat-button href="https://github.com/V-inaya-K">
        <button mat-icon-button class="example-icon favorite-icon"  aria-label="Example icon-button with heart icon" >
          <img src="../../../assets/git.png">
        </button>
      </a>
    </mat-toolbar>
</p>