<style>
   
    mat-toolbar{
        background-image: url('../../../assets/eae87f33d03cadd42c484556f8718491.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    a{
        text-decoration: none;
        font-weight: bolder;
        font-size: 1cm;
        margin-left: 85%;
        
    }
</style>

<mat-toolbar color="red" >
    
    <p style="font-family:Arial, Helvetica, sans-serif;color: aliceblue  ;font-size:1.25cm;"><img src="../../../assets/p-removebg-preview.png" style="width: 1.4cm; height:1.1cm ;margin-top: 5%;" >TAB -U</p>
    <a class="t" href="../../../assets/About Us.pdf" class="io" download="About- tabU" style="color: aliceblue;">&#9432;</a>
    <span class="example-spacer"></span>
</mat-toolbar>